<div class="container bg-light py-2">
  <div class="text-center"><h1>{{title}}</h1></div>
  <!--<app-heroes></app-heroes>-->
  <nav class="navbar navbar-light navbar-expand-lg bg-info">
    <div class="collapse navbar-collapse">
      <a class="navbar-brand" routerLink="/">首页</a>
      <div class="navbar-nav mr-auto">
        <a class="nav-item nav-link" routerLink="/dashboard">Dashboard</a>
        <a class="nav-item nav-link" routerLink="/heroes">Heroes</a>
      </div>
      <form class="form-inline">
        <input type="search" placeholder="Search" class="form-control" />
        <button type="subbmit" class="btn btn-outline-dark mx-2">Search</button>
      </form>
    </div>
  </nav>
  <router-outlet></router-outlet>
  <app-message></app-message>
</div>


